/* Imports de fonts */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: Quicksnad;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: TitilliumWeb;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Génericas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-menu2 {
    right: 0 !important;
}

body {
    background-color: white;
}


/* Mobile First */
/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1b1426;
}

header .header-top {
    display: none;
}

header nav {
    display: none;
}

header .menu-usuarios {
    height: 170px;
    width: 15vw;
    position: fixed;
    top: 60px;
    right: -15vw;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);

    transition: right 1s;
}

header .header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

}

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom {
    height: 60px;
}

header .logo {
    width: 86px;
}

header nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);

    transition: left 1s;
}

header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
    border-bottom: 2px solid #f9aa01;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;

}

/* Desktop >= 1200px*/
@media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    /* header */
    header {
        position: static;
        height: 140px;
        width: 100%;
    }

    header .header-bottom {
        height: 90px;
    }

    header .header-top {
        display: block;
        height: 50px;
        border-bottom: 2px solid #f9aa01;
        color: white;
    }

    header .header-top .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400px;

    }

    /* divs .phone, .mail */
    header .header-top .contatos>div {
        display: flex;
        gap: 10px;
        width: 200px;
    }

    header .header-top .midias-sociais {
        display: flex;
        justify-content: space-between;
        width: 140px;
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }


    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        width: 140px;
        flex-direction: row;
        justify-content: space-between;
        height: auto;
        background-color: transparent;
        background-image: none;
    }

    header .header-bottom nav>a {
        padding: 0;
        border-bottom: none;
    }
}


/* main */
main {
    width: 100%;
    height: 1231px;

    background-image: url(../assets/images/Retangulo_com_blur.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



/* Footer */


footer {
    background-image: url(../assets/images/backgroung_footerr.png);
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer .footer-flex {
    
    height: 1531px;
    color: white; 

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer .logo-gamer {
    width: 110px;
    height: 32px;
}

footer h1 {
    color: white;
    font-family: TitilliumWeb-Bold;
}

footer .links-uteis {
    width: 100%;
    height: 155px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

footer .contatos {
    width: 100%;
    height: 257px;

}

footer p {
    width: 335px;
    color: white;
    font-family: Quicksnad;
}

footer .redes-sociais {
    width: 335px;
    height: 40px;

    display: flex;
    justify-content: space-around;
}

footer .links-uteis hr {
    width: 112px;
    height: 0px;
    border: 2px solid #f9aa01;
}

footer .contatos hr {
    width: 112px;
    height: 0px;
    border: 2px solid #f9aa01;
}

footer .contatos hr {
    margin-bottom: 43.08px;
}

footer .links-uteis .links hr {
    width: 15px;
    height: 0px;
    border: 2px solid #f9aa01;
}

footer .contatos .orange {
    color: #f9aa01;
}

footer .links-uteis h1, .contatos h1 {
    font-family: TitilliumWeb-Black;
    font-size: 30px;
}

footer .links-uteis, .contatos {
    font-family: TitilliumWeb-Bold;
    font-size: 16px;
}

footer .links {
    width: 327px;
    height: 60px;

    display: flex;
    flex-wrap: wrap;
    gap: 48.34px;
}

footer .hr {
    width: 103px;
    height: 24px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12.18px;
}

/* NEWSLETTER */
footer .footer-flex .newsletter {
    padding-top: 119.5px;
}

footer .footer-flex .newsletter .newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;
    padding-top: 54.9px;
}

footer .footer-flex .newsletter .newsletter-box #newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 333px;
    height: 40px;
}

footer .footer-flex .newsletter .newsletter-box .email-box {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));

    border-radius: 8px;
}

footer .footer-flex .newsletter .newsletter-box .email-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: TitilliumWeb;
    padding-left: 17.53px;
}

footer .footer-flex .newsletter .newsletter-box .email-box input::placeholder {
    color: white;
}

footer .footer-flex .newsletter .newsletter-box button {
    width: 333px;
    height: 40px;
    background-color: #f9aa01;
    border-radius: 8px;
    border: none;

    color: black;
    font-family: TitilliumWeb-Bold;
    font-size: 24px;

}

footer .copy-back {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    gap: 27px;
}

footer #copyright {
    font-family: Quicksand;
    text-align: center;
    font-size: 16px;
}

footer #voltar-ao-topo {
    display: flex;
    justify-content: flex-end;
}