/* Imports de fonts */

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Génericas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid salmon;
}

body {
    background-color: white;
}


/* Mobile First */
/* HEADER */
header {
    height: 60px;
    background-color: #1b1426;
}

header .header-top {
    display: none;
}

header nav {
    display: none;
}

header .menu-usuarios {
    display: none;
}

 header .header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

}

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom {
    height: 60px;
}

header .logo {
    width: 86px;
}

header nav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 80vw;
    height: 100vw;
    background-color: grey;

    display: flex;
    flex-direction: column;
}