/* Imports de fonts */
@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: Quicksnad;
    src: url(../assets/fonts/Quicksand/static/Quicksand-Regular.ttf);
}

@font-face {
    font-family: TitilliumWeb;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: TitilliumWeb-Bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: TitilliumWeb-Black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classes Génericas */
.layout-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-menu2 {
    right: 0 !important;
}

body {
    background-color: white;
}


/* Mobile First */
/* HEADER */
header {
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1b1426;
}

header .header-top {
    display: none;
}

header nav {
    display: none;
}

header .menu-usuarios {
    height: 170px;
    width: 15vw;
    position: fixed;
    top: 60px;
    right: -15vw;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);

    transition: right 1s;
}

header .header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

}

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-bottom {
    height: 60px;
}

header .logo {
    width: 86px;
}

header nav {
    position: fixed;
    top: 60px;
    left: -80vw;
    z-index: 101;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: calc(100vh - 60px);
    padding-bottom: 20px;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(10px);

    transition: left 1s;
}

header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    color: white;
    font-size: 15px;
    font-family: Inter;
    text-decoration: none;
    border-bottom: 2px solid #f9aa01;
}

header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .header-bottom nav .midias-sociais {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;

}

main {
    position: absolute;
    width: 100%;
    top: 60px;
}

main .banner-inicio {
    height: 607px;
    color: white;

    background-image: url(../assets/images/valorant-pergunte-3-scaled\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

main .banner-inicio h1 {
    font-family: TitilliumWeb;
    font-size: 40px;
    text-shadow: 0 0 7px #fd4255;
    margin-top: 25px;
}

main .banner-inicio a {

    width: 170px;
    height: 40px;
    background-color: #f9aa01;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    font-family: TitilliumWeb-Bold;
    color: black;
    text-align: center;
    text-decoration: none;
    margin-bottom: 40px;
}

main .jogos {
    width: 100%;
    height: 590px;
    background-color: #1B1426;

}

main .jogos-flex {
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

    /* Tablets >= 768px */
    @media screen and (min-width: 768px) {}

    /* Desktop >= 1200px*/
    @media screen and (min-width: 1200px) {
    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    /* header */
    header {
        height: 140px;
    }

    header .header-top {
        display: block;
        border-bottom: 2px solid #f9aa01;
        color: white;
    }
    
    header .header-top .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;

    }

    /* divs .phone, .mail */
    header .header-top .contatos > div {
        display: flex;
        gap: 10px;
        width: 200px;
    }
    
    header .header-top .mdias-sociais {
        width: 140px;
    }

    /* esconde os elementos desnecessários */
    header .header-bottom .menu-hamburger,
    header .header-bottom .menu-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .mail,
    header .header-bottom nav .midias-sociais {
        display: none;
    }


    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    header .header-bottom .menu-usuarios {
        position: static;
        width: 140px;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        background-image: none;
    }

    header .header-bottom nav > a {
        padding: 0;
        border-bottom: none;
    }
}

main section.time-gamer {
    width: 100%;
    height: 1535px;
    background-color: #f9aa01;
}

main section.time-gamer h1 {
    font-family: TitilliumWeb-Black;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

main .info-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .info-gamer {
    height: 60px;
}
main section.time-gamer .line {
    width: 205px;
    border-top: 2px solid black
}

main .time-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .img-vava {
    width: 314px;
    height: 511px;
}

main .img-lol {
    width: 322px;
    height: 428px;
}